<h1>Presentation: <%= @presentation.title %></h1>

<table>
    <tr>
        <th>Author:</th>
        <td><%= @presentation.user.email %></td>
    </tr>
    <tr>
        <th>Created</th>
        <td><%= @presentation.inserted_at %></td>
    </tr>
</table>


<%= form_for @conn, Routes.presentation_path(@conn, :delete, @presentation), fn f -> %>
<%= submit "Delete Presentation", class: "btn btn-danger" %>
<% end %>
